@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
}

#root{
  width: 100%;
}

body{
  background: linear-gradient(130deg, rgba(220,217,254,1) 0%, rgba(218,218,218,1) 50%, rgba(191,244,255,1) 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  font-family: 'Montserrat';
  margin: 0;
}

h1{
  text-align: center;
}

.timeline-container{
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  position: relative;
}

.timeline-container::after{
  background-color: #ff0077;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  left: calc(50% - 2px);
}

.timeline-item{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd){
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0;
  padding-left: 30px;
}

.timeline-item-content {
  max-width: 70%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 70%;
  width: 400px;
  text-align: right;
  padding: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content{
  align-item: flex-start;
  text-align: left;
}